0 3 * * * /usr/local/bin/imapsync --host1 $SRC_HOST --user1 $SRC_USER --password1 $SRC_PASS --host2 $DST_HOST --port2 $DST_PORT --user2 $DST_USER --password2 $DST_PASS --regexflag 's,\\Seen,,' --regexflag 's,,\\Seen ,' --syncinternaldates --delete2duplicates --nofoldersizes >> /proc/1/fd/1 2>&1
